.articles {
  ul {
    list-style: none;
  }

  li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
  }

  .top-title {
      margin: 0 -18px;
      padding: 10px 18px;
      font-size: 14px;
      font-weight: 700;
      color: #545454;
      background-color: #f5f5f5;
  }

  .have-img {
    .wrap-img {
      position: absolute;
      top: 50%;
      margin-top: -40px;
      right: 3px;
      width: 80px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 1px solid #f0f0f0;
      }
    }
  }

  .content {
    .author {
      font-size: 13px;

      a {
        color: #333;
        text-decoration: none;
      }

      .avatar {
        position: absolute;
        margin: 4px 2px 0 0;

        img {
          width: 20px;
          height: 20px;
          border: 1px solid #f0f0f0;
        }
      }

      .name {
        display: inline-block;
        padding: 6px 2px 6px 28px;
        line-height: 1.5;
      }
    }

    .title {
      display: inherit;
      font-size: 17px;
      line-height: 1.5;
      color: #333;
      margin: 15px 0;
      font-weight: 700;
      word-break: break-word;
    }
  }



}
