.DS_Store
.idea/
project/project.iml
project/node_modules
project/npm-debug.log
project/public
project/.tmp
project/target
project/test/webdriver
project/log
project/logs/
project/config/local.json
project/coverage
project/pacts
project/dist
project/src/js/config/local.js
project/src/explore_regions_list.json
project/generated/
project/mock-serve-logs/
target/
.node-version
logs/
*.ipr
*.iws
*.iml
