.login-footer {
  .split-line {
    height: 20px;
    background-color: #f5f5f5;
  }
  .open-app {
    padding: 30px 0;
    text-align: center;

    a {
      background: none;
      color: #969696;
      text-decoration: none;
    }
  }
}
