.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 3px 18px;
    font-size: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.top .logo {
    height: 42px;
    vertical-align: middle;
    display: inline-block;
}

.top .logo img {
    height: 100%;
    margin-left: -4px;
}


.top .slogan {
    margin: 0 0 0 6px;
    font-size: 12px;
    color: #333;
    vertical-align: middle;
    display: inline-block;
}

.top .slogan .slogan-title {
    font-size: 15px;
    color: #333;
    line-height: 20px;
}
