/*
Font size
*/
$xxxLarge: 48px; // 48px;
$xxLarge: 28px; // 28px;
$xLarge: 22px; // 22px;
$Large: 20px; // 20px;
$basic: 18px;// 18px;
$small: 16px; // 16px;
$xSmall: 14px; // 14px;
$xxSmall: 12px; // 10px;

$spacingUnit: 4px;
$pagePadding: 16px;
